*{word-wrap:break-word;}
body,input,button,select,textarea{font:12px/1.5 'Microsoft Yahei','Simsun';color:#444;}
textarea{resize:none;}
body,ul,ol,li,dl,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,.pr,.pc{margin:0;padding:0;}
table{empty-cells:show;border-collapse:collapse;}caption,th{text-align:left;font-weight:400;}
dl,ul li,.xl li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:1em;}
em,cite,i{font-style:normal;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* 屏蔽文本框高亮 */
textarea {outline: none;} 
/* 清理浮动 */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear5{ clear:both; height:5px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
/*去掉超链接虚线框*/
a{outline:none;}
a:active{noOutline:expression(this.onFocus=this.blur());}
:focus{outline:0;}

.fl{ float:left; width:80px;}
.fr{ float:right; width:80px;}

.contain{ width:940px; margin:0 auto; background:#fcd8a8}
.header{ width:940px; height:367px; background:url(../images/top.jpg) no-repeat;}
	a.logo{ float:right; width:114px; height:24px; margin:25px 68px 0 0; display:inline-block;}
	
.hdnr{ width:940px; height:652px; background:url(../images/hdnr.jpg) no-repeat;}
	.ewmbox{ width:153px; height:250px; padding:107px 0 0 173px;}
		.ewmimg{ width:153px; height:153px; margin:0 0 30px -10px;}
		.ewmimg img{ border:0;}
		.btnewm{ width:144px; height:45px; margin:0 auto;}
		.btnewm a{ display:inline-block; width:144px; height:45px; background:url(../images/btn_ewm.jpg) no-repeat;}
		.btnewm a:hover{opacity:0.7;filter:alpha(opacity=70);}
		
.zxjxbox{ width:868px; margin:15px auto;}
	.zxjxtitle{ height:47px; background:#e64019 url(../images/title_zxjx.jpg) left center no-repeat;}
	.zxjxcon{ width:868px; padding:413px 0 0 0;background:url(../images/con_zxjx.jpg) top center no-repeat;}
	ul.product{ width:868px;}
	ul.product li{ float:left; width:210px; height:80px; margin:0 9px 0 0;}
	ul.product li.last{ margin:0 0 0 0;}
	ul.product li a{ display:inline-block; width:210px; height:80px;}
	ul.product li a:hover{opacity:0.7;filter:alpha(opacity=70);}
	ul.product li a.one{ background:url(../images/img_gfqjd.jpg) no-repeat;}
	ul.product li a.two{ background:url(../images/img_gxtdzmd.jpg) no-repeat;}
	ul.product li a.three{ background:url(../images/img_nlzmd.jpg) no-repeat;}
	ul.product li a.four{ background:url(../images/img_sjzmd.jpg) no-repeat;}	
	
.bybbox{ width:868px; margin:20px auto 0;}
	.bybtitle{ height:47px; background:#f36239 url(../images/title_byb.jpg) left center no-repeat;}
	.bybcon{ width:868px; padding:30px 0;}
		.bybcon_left{ float:left; width:380px; height:198px; margin-right:20px; border:#d1d1d1 1px solid; background:#fff;}
			.bybcon_l_title{ width:380px; height:40px; background:url(../images/text1.jpg) center no-repeat;}
            .bybcon_l_title_2{ width:460px; height:40px; background:url(../images/text1_2.jpg) center no-repeat;}

ul.numlist{ width:360px; margin:0 auto;}
			ul.numlist li{ width:360px; height:28px; line-height:28px; font-size:18px; color:#373737; font-weight:800;}

ul.numlist2{ width:400px; margin:0 auto;}
ul.numlist2 li{ width:400px; height:60px; line-height:60px; font-size:18px; color:#373737; font-weight:800;}

		.bybcon_right{ float:left; width:460px; height:198px; border:#d1d1d1 1px solid; background:#fff;}
			.bybcon_r_input{ width:180px; height:30px; background:url(../images/text2.jpg) left center no-repeat; padding:0 0 0 160px; margin:20px auto;}
			.bybcon_r_input input{ border:#d1d1d1 1px solid; height:28px; line-height:28px; text-align:center; border:#d1d1d1 1px solid; color:#393939; font-weight:400; font-size:16px;}
			.bybcon_r_query{ width:180px; height:29px; background:url(../images/text3.jpg) left center no-repeat; padding:0 0 0 160px; margin:10px auto;}
			.bybcon_r_query a{ width:86px; height:29px; display:inline-block; background:url(../images/btn_query.jpg) no-repeat; text-decoration:none; cursor:pointer}
			.bybcon_r_query a:hover{opacity:0.8;filter:alpha(opacity=80);}


.mydiv { width:686px; height:393px; background:url(../images/popbg.png) no-repeat; z-index:99; left:50%; top: 50%; margin-left:-343px!important; margin-top:-196px!important;position:absolute;/*FF IE7*/position:fixed!important;}
.hidebg { width:100%; height:100%; background: #000;   filter:alpha(opacity=50);/*IE*/    opacity:0.5;/*FF*/    z-index:1;  position:absolute;/*IE6*/ position:fixed; left:0; top:0; }
a.btn_del{ width:24px; height:24px; text-decoration:none; background:url(../images/icon_close.png) no-repeat; display:inline-block; right:15px; top:15px; position:
    absolute;}
a.btn_del:hover{opacity:0.7;filter:alpha(opacity=70);}
.popcon{ width:576px; height:280px; margin:0 auto; padding:50px 0 0 0 }
.popcon_left{ float:left; width:300px; height:210px; padding-right:40px;}
.popcon_left a img{ border:0;}
.popcon_right{ float:left; width:222px;margin-top: 60px;}
.popcon_right div.btn_save{ width:222px; height:61px; margin:0 0 20px 0;}
.popcon_right div.btn_save a{ display:inline-block;width:222px; height:61px; background:url(../images/btn_save.png) no-repeat;}
.popcon_right div.btn_save a:hover{opacity:0.7;filter:alpha(opacity=70);}
.popcon_right div.sharediv{ width:222px; background:url(../images/text6.jpg) top left no-repeat; padding:30px 0 0 0;}
/* sharediv */
.sharediv a,.sharediv a span{height:28px;width:28px;display:block;float:left;overflow:hidden;}
.sharediv a{margin:10px 33px 0 0;}
.sharediv a span{ background:url(../images/icon_share.jpg) no-repeat; cursor:pointer;}
.sharediv a:hover{opacity:0.7;filter:alpha(opacity=70);}

.sharediv a span.xinlang{background-position:0 0;}
.sharediv a span.weixin{background-position:-59px 0;}
.sharediv a span.weixinpy{background-position:-118px 0;}
.sharediv a span.tengxunweibo{background-position:0 -41px;}
.sharediv a span.qqzone{background-position:-59px -41px;}
.sharediv a span.renren{background-position:-118px -41px;}

.popcon_foot {width: 296px;line-height: 20px;color: #282828;font-size: 11px;font-weight: 400;}
.popcon_foot a{ text-decoration:none;}

.list_lh{height:140px;overflow:hidden;}